.create-task-page {
    padding: 30px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-name-input {
    font-size: 24px;
    font-weight: bold;
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 300px;
}

.header-buttons {
    display: flex;
    gap: 8px;
}

.btn-save {
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    background-color: #369FBC;
}

.btn-add-volunteer {
	width: fit-content;
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    background-color: #369FBC;
}

.avatar-small {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d9d9d9;
	flex-shrink: 0;
}

.volunteer-input {
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    width: 250px;
}

.description-input {
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    height: 120px;
    resize: none;
    width: 350px;
	font-size: 1.3rem;
	overflow-wrap: break-word;
}

.date-row {
    display: flex;
    gap: 20px;
}

.v-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.v-field label {
    font-size: 14px;
    font-weight: 500;
}

.v-field input {
    background-color: #d9d9d9;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
	width: 360px;
	font-size: 1.3rem;
}

.skills-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group-label {
    font-size: 14px;
    font-weight: 500;
}

.skills-input-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.skills-input-row input {
    background-color: #d9d9d9;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 14px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
    gap: 8px;
	flex-wrap: wrap;
    justify-content: center;
}

.skills-list p{
	padding: 10px;
	text-align: center;
    font-size: 1.3rem;
}

.skill-item {
    display: flex;
	flex-direction: column;
    align-items: center;
	width: 300px;
    background-color: #d9d9d9;
    border-radius: 20px;
	margin: 3px;
    font-size: 1.3rem;
}

.skill-item p {
    font-size: 1.3rem;
	justify-self: left;
}

.btn-remove {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
	font-size: 1.3rem;
    color: #555;
}

.contact-info {
    font-size: 1.3rem;
	font-weight: 300;
	margin: 0;
}

.dashboard-certificate {
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	margin: 15px;
	padding: 10px;
}

.certificate-item {
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	margin: 10px;
}

.volunteer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	padding: 15px;
}

.v-dashboard-skills {
	padding: 12px;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
}

.volunteer-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.choosen-volunteer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;
}

.choosen-volunteer h3{
	margin-top: 25px;
	padding: 0;
}

.volunteer-placeholder {
    font-size: 1.8rem;
    color: #aaa;
}

.volunteer-name {
    font-size: 1.8rem;
    font-weight: 500;
	white-space: nowrap;
	margin-left: 15px;
}
