.task-details-page {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.time-details {
	border: 1px solid #d9d9d9;
	padding: 10px;
	width: 300px;
	border-radius: 10px;
	margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
	padding: 10px;
}

.header-left h1{
    font-weight: bold;
}

.header-buttons {
    display: flex;
    gap: 8px;
	padding: 10px;
}

.coordinator-name {
    font-size: 1.8rem;
    font-weight: 500;
	white-space: nowrap;
	margin-left: 15px;
}

.coordinator-row {
	display: flex;
	align-items: center;
}

.coordinator-section {
	display: flex;
	border: 1px solid #d9d9d9;
	padding: 10px;
	border-radius: 10px;
}

.btn-edit {
	width: 100px;
	height: 30px;
}

.basicinfo-section {
	display: flex;
	flex-direction: column;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	padding: 10px;
}

.basicinfo-section p {
	margin-left: 15px;
}

.task-description {
	width: 740px;
	height: 200px;
	padding: 12px;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid #d9d9d9;
	font-size: 1.6rem;
	overflow-wrap: break-word;
}

.btn-details {
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    background-color: #369FBC;
	margin-left: auto;
}

.avatar-small {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #d9d9d9;
    flex-shrink: 0;
}

.volunteer-name-box {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 16px;
    font-size: 15px;
    min-width: 180px;
    text-align: center;
}

.no-volunteer {
    font-size: 14px;
    color: #aaa;
}

.volunteer-contact {
    display: flex;
    gap: 30px;
    font-size: 14px;
    color: #333;
}

.description-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
    color: #333;
    min-height: 100px;
    width: 350px;
}

.skills-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group-label {
    font-size: 14px;
    font-weight: 500;
}

.skills-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 150px;
    min-height: 80px;
    font-size: 14px;
}

.performance-class {
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 20px;

}

.performance-class p{
	margin-top: 7px;
	font-size: 1.3rem;
	font-weight: bold;
}

.performance-class select {
	font-size: 1.3rem;
	margin-left: 15px;
	padding: 5px;
}
