.volunteer-update {
    padding: 30px;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.header h2 {
    font-weight: bold;
}

.header-buttons {
    position: absolute;
    right: 0;
    display: flex;
    gap: 8px;
}

.btn-save {
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    background-color: #369FBC;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.row {
    display: flex;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.field label {
    font-size: 14px;
    font-weight: 500;
}

.field input, .field textarea {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 14px;
    width: 220px;
    background-color: #d9d9d9;
    color: #333;
    border: none;
}

.field textarea {
    width: 440px;
    height: 100px;
    resize: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group-label {
    font-size: 14px;
    font-weight: 500;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}

.avatar-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.avatar p {
    font-size: 14px;
    color: #555;
    cursor: pointer;
}
